/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-text);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  color: var(--color-text);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

/*Header*/
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-family-accent), fantasy;
  margin: 102px 0;
  padding: 136px 0 25px;
  background: var(--background-header);
  border: 2px solid var(--border-color);
}

.header-link {
  text-transform: uppercase;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header-title {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  margin: 20px 0 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 7px;
  font-size: 14px;
  inline-size: min-content;
  margin: 0 45%;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  text-transform: uppercase;
  background: none;
  border: none;
  overflow: hidden;
  padding: 2px;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
}

.theme-menu__button::after {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--color-text);
  opacity: 0.6;
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/*Main content*/
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section__card {
  background: var(--background-page);
  border: 2px solid var(--border-color);
}

.section__card-title {
  font-variation-settings: "wght" var(--font-weight-title);
  padding: 4px 10px;
  font-size: 18px;
}

.card__image-container {
  overflow: hidden;
  position: relative;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.image_lable {
  font-family: var(--font-family-accent);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  right: 25px;
  top: 27px;
  z-index: 1;
  text-shadow: 1px var(--background-lable);
}

@supports (text-stroke: 1px var(--background-lable)) or
  (-webkit-text-stroke: 1px var(--background-lable)) {
  .image_lable {
    -webkit-text-stroke: 1px var(--background-lable);
    text-stroke: 1px var(--background-lable);
  }
}

.image {
  display: block;
  -o-object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  -moz-object-position: center;
  object-position: center;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 23px 25px;
  gap: 26px;
}

.card__text {
  font-variation-settings: "wght" var(--font-weight-text);
}

.card__like-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  inline-size: 40px;
  block-size: 36px;
}

.like-icon {
  inline-size: inherit;
  block-size: inherit;
  fill: var(--color-text);
  position: relative;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border-color);
}

.card__like-button {
  width: 130px;
  padding: 10px 0;
}

.button {
  font-family: var(--font-family-accent), fantasy;
  position: relative;
  overflow: hidden;
  color: var(--color-text);
  background: none;
  cursor: pointer;
  border: 2px solid var(--color-text);
  transition: box-shadow 0.3s ease;
  font-size: 14px;
  top: 0;
  left: 0;
}

.button:before {
  content: "";
  display: block;
  position: absolute;
  block-size: 100%;
  inline-size: 100%;
  overflow: hidden;
  background-color: var(--color-text);
  transform: translateX(-110%);
  transition: transform 0.5s ease-in-out;
  top: 0;
  left: 0;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--color-text);
}

.button__text {
  color: var(--color-text-botton-like);
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  align-items: center;
  background: var(--background-page);
  margin: 0 auto 103px;
  padding: 15px 20px;
  gap: 8px;
}

.floppy_image {
  block-size: 29px;
  inline-size: 29px;
  fill: var(--mix-blend-color);
  mix-blend-mode: difference;
}

/*filters*/

.image-grayscale {
  filter: grayscale(80%);
}

.image-saturate {
  filter: saturate(500%);
}

.image-hue-rotate {
  filter: hue-rotate(35deg);
}

.image-invert {
  filter: invert(90%);
}

.image-sepia {
  filter: sepia(90%);
}

.image-blur {
  filter: blur(20px);
}

.image-multi-filter {
  filter: grayscale(10%) saturate(50%) hue-rotate(10deg) invert(10%) sepia(10%)
    blur(5px);
}

/*dialog*/
.dialog {
  font-family: var(--font-family-accent), fantasy;
  font-size: 14px;
  background-color: var(--background-page);
  color: var(--color-text);
  border: 2px solid var(--border-color);
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.dialog__text-container {
  color: var(--color-text);
  display: inherit;
  align-items: center;
  gap: 22px;
}

.button_ok {
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  background: var(--background-page);
}

.dialog__text {
  text-transform: uppercase;
  inline-size: 100%;
  max-width: 234px;
  line-height: 1.5;
}

.dialog .floppy_image {
  block-size: 39px;
  inline-size: 39px;
  mix-blend-mode: normal;
}

@media (width <= 376px) {
  .header {
    padding: 120px 0 25px;
  }

  .theme-menu__list {
    margin: 0 41%;
  }

  .card:nth-child(7) .card__text {
    max-width: 317px;
  }

  .image-label {
    right: 10px;
    top: 24px;
  }

  .button-save {
    flex-direction: column;
  }

  .button__text {
    text-wrap: wrap;
  }

  .dialog {
    padding: 32px 38px;
  }

  .dialog__container {
    gap: 28px;
  }

  .dialog__text {
    width: 80%;
  }

  .floppy-image {
    width: 28px;
    height: 28px;
  }
}