/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-main: "Inter-Variable";
    --font-family-accent: "PressStart2P";
    --background-page: #FFFFFF;
    --background-color: #D3D3D3;
    --background-header: var(--background-page);
    --background-image: 
        repeating-linear-gradient(to right, #D3D3D3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #D3D3D3 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --font-weight-title: 700;
    --font-weight-text: 400;
    --color-text: #000000;
    --border-color: #000000;
    --color-text-botton-like: var(--background-page);
    --color-heart: #FF0000;
    --color-floppy: var(--color-text);
}